<label for="issue">
	<f:translate key="tx_hrinewsletter_domain_model_issue.issue" />
</label><br />
	<f:form.textfield property="issue" /><br />
<label for="intro">
	<f:translate key="tx_hrinewsletter_domain_model_issue.intro" />
</label><br />
	<f:form.textarea property="intro" cols="40" rows="15" /><br />
<label for="id">
	<f:translate key="tx_hrinewsletter_domain_model_issue.id" />
</label><br />
	<f:form.textfield property="id" /><br />
<label for="lang">
	<f:translate key="tx_hrinewsletter_domain_model_issue.lang" />
</label><br />
	<f:form.textfield property="lang" /><br />