<f:layout name="Default" />


<f:section name="content">
<div class="tx-hrinewsletter-subscribeform">
	<h1><f:translate key="tx_hrinewsletter_domain_model_member.subscribe_h1" /></h1>
	<p class="description"><f:translate key="tx_hrinewsletter_domain_model_member.subscribe_description" /></p>
	<form id="form_subscribe" enctype="application/x-www-form-urlencoded" action="{settings.subscribeUrl}" method="post">
		<input type="hidden" name="user_lang" value="" />
		<input type="text" name="user_email" id="user_email" value="<f:translate key='tx_hrinewsletter_domain_model_member.subscribe_email' />" >
		<input type="submit" name="submit" id="submit" value="<f:translate key='tx_hrinewsletter_domain_model_member.subscribe_send' />">
	</form>
</div>
 <f:if condition="{settings.debug}">
debug: {debug}
S: {settings.defaultLand}
</f:if>
</f:section>
